.foto{

    display:none

}

.span-foto{
margin-top: 2rem;
width: 300px;
aspect-ratio: 16/9;
display: flex;
background: #ddd;
align-items: center;
justify-content: center;
color: #aaa;
border: 2px dashed #aaa;
cursor:pointer;
transition:color 300ms ease-in-out, backgroud 300ms ease-in-out;
}

.span-foto:hover {
color:#777;
background: #ccc;

}

.span-foto:start{
    
    background: #000000;
    border:none;
    
    }

.button-remover{
  font-size: 12px;
  margin: 1rem;
  padding: 0.1rem;

  


}